/* Universal Styles use Asterisk */
* {
  font-family: "Avenir";

  font-size: 18px;
  margin: 0;
}

body{
    background:#b9dbec;
}

.nav {
  background: white;
  width: 100%;
  margin: 0 auto;
}

.call-to-action{
  position: relative;
  /* margin-top: 60px; */
}

.menu {
  text-align: center;
  display: block;
}

p.intro-text {
  background: #ffffff80;
  border-radius: 15px;
  padding: 30px 40px;
  text-align: justify;
  margin: 0 10px;
}

p.intro-text span{
  font-weight:bolder;
  font-size:36px;
  display:block;
  text-align:center;
  color:#575779;
}
ul {
  margin-left: -40px;
}

li {
  color: gray;
  padding: 10px;
  list-style-type: none;
}

li:nth-child(odd) {
  background: #ffffff;
}

li:nth-child(even) {
  background: #f2f2f2;
}

li:hover{
  background:#dedcdc;
}
/* body {
        background-color: #c1fafd;
    } */

h1 {
  color: white;
  text-align: center;
  padding:10px 0 30px 0;
  position:absolute;
  display:block;
  text-align:center;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.start-now {
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  display: block;
  text-align: center;
  /* font-size: 50px; */
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid white;
  border-radius:25px;
}

span.start-now a{
  color:white;
  padding: 30px 30px;
  font-size: 20px;
}

span.start-now a:hover{
  color:purple;
}

span.start-now:hover{
  /* color:purple; */
  background:pink;
  border: 6px solid pink;
}

.group:nth-child(odd){
  background:#e4e5e9;;
  padding:10px 10px;
}
.group:nth-child(even){
  background:#bcbec8;
  padding:10px 10px;
}

.group.intro {
  background: white!important;
}

h4 {
  font-size: 30px;
  text-align: center;
  padding: 10px 0px;
  color:#093a73;
  height: 100px;
}

.quote {
  text-align: center;
  padding: 10px 40px;
  font-family: 'Bookman';
  color: darkslategray;
  background: #ffffff50;
  /* font-family:Raleway; */
  /* font-weight:bold; */
  font-size:20px;
  height: 150px;
}

.quote span{
  color: #E91E63;
}

a {
  color: #616fac;
  text-decoration:none;
  font-weight:bold;
}

a.slides {
    color: blue;
    border: 1px dotted blue;
    padding: 10px;
    margin-top: 5px;
}

img {
  width: 100%;
}

.workshops {
  /* 
        Padding: NORTH EAST SOUTH WEST (Never Eat Sour Wheat)
         */
  padding: 10px 10px 10px 10px;
  /* background: rgb(203, 53, 53); */
  /* width: 100%; */
  /* border-radius: 10px; */
  margin: 10px 10px;
  box-shadow: 0 9px 30px -16px #000000;
  /* background:#d3d6e4; */
  background:#ffffff
}

div#workshop1 {
  border-left: 10px solid #009688;
}

.ws-descriptions {
  /* Padding: North/South West/East */
  padding: 10px 35px;
  background: #ebeaea50;
  /* height: 300px; */
  text-align: justify;
}

.download-section{
  padding: 10px 35px;
  background: #ebeaea50;
  /* height: 300px; */
  /* text-align: justify; */
}

.quote-of-the-day {
  padding: 15px;
  margin: 15px;
  margin: 15px;
  background: #ffffff50;
  text-align: center;
}

.menu-dropdown.s0.menu-color {
  color: #2c1c4b;
  background: #2c1c4b!important;
}

.menu-dropdown.s0.menu-color:after{
  content: "\2630";
  text-shadow: 0 0 0 #ffffff;
  margin-top: -10px;
}

.menu-dropdown.s0.menu-color.active:after{
  content: "\00D7";
  font-size:30px;
}

/* 'Modules' title */
.s0 {
  /* background: #151d4b; */
  background: #009688!important;
  cursor: pointer;
  transition: 0.4;
}



.s0:hover {
  background: #093a73;
}

.s0:after {
  content: "\02795";
  /* content: "\25bc"; */
  /* Unicode character for "plus" sign (+) */
  /* font-size:20px; */
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
  float: right;
  margin-left: 5px;
  /* margin-top: -3px; */
}

.menu-dropdown{
  padding:20px;
}

/* .menu-dropdown:after{
        content:'&#9776';
    } */

.active:after {
  content: "\2796";
  /* content: "\25b2"; */
  /* Unicode character for "minus" sign (-) */
}

.active .s0:hover {
  background-color: #ccc;
}
/* workshop panels */
.panel {
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.footer{
  background: #115db4;
  width: 100%;
  height:25px;
}

.footer p {
  float: right;
    padding-right: 15px;
    padding-left: 10px;
    background: #FF5722;
}
/* stick navs */
#navbar {
  z-index: 999;
  color:#fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* 
.content {
  padding: 16px;
} */

/* .sticky + .content {
  padding-top: 60px;
} */

/* .s1,
.s3,
.s5 {
  background: #d0d0d0;
}

.s2,
.s4 {
  background: #b2b1b1;
} */

.sub-items {
  padding: 10px 10px 10px 10px;
  color:#fff;
  /* color:#000000; */
  margin-top:-7px;
}

.sub-items:nth-child(odd){
  background:#ffffff;
}

.sub-items:nth-child(even){
  background:#f2f2f2;
}


/* look at the nested structure. The class points to the <p> tag within it.*/
.sub-items p {
  /* color: #115db4; */
  color:#000000;
  padding: 10px 20px;
}

.downloads {
  color: #616fac;
  font-weight: bold;
}

.download-section li:hover {
  background: lightblue;
}

.download-section h5 {
  /* color: #009688; */
  color:#000000;
}

.videos{
    background: #00000050;
}
strong {
  /* color: #115db4; */
}

.technologies{
  height:100px;
  width:100%;
  padding:100px;
  background:
}

/* .more {display: none;}
button.read-more {
  border: none;
  color: #616fac;
}  */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #5f5f5f80; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px;
  border-radius: 20px;
  font-size: 18px; /* Increase font size */
}

div#myBtn::after {
  content: "\25b2";
}
#myBtn:hover {
  background-color: #2c1c4b; 
}





/* typewriter */
.typewriter h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


/* Global Layout Scheme */
.group{
  display:flex;
}
.workshops{
  width:33%;
}
.col-med{
  width:70%;
}
.col-small{
  width:30%;
  padding: 50px 0;
}
/* Screen Size Specific  */

/* Ipad */
@media only screen and (max-width: 1250px) {
  body{
    background: rgb(236, 124, 124);
  }

    span.start-now {
    top: 80%; 
  }

  .group{
    display:block;
  }
  .workshops{
    width:95%;
  }

  p.intro-text {
    background: #ffffff80;
    border-radius: 0px;
    padding: 30px 50px;
  }

  img#bird{
    display:none;
  }
  .col-med{
    width:100%;
  }
  .col-small{
    width:0%;
  }
  
}

/* Mini Tablet */
@media only screen and (max-width: 750px) {
  body {
    background: #39f8de;
  }
  .workshops{
    width:92%;
  }
  img#bird{
    display:none;
  }

  .col-med{
    width:100%;
  }
  .col-small{
    width:0%;
  }
}

/* inspect Demo */
/* Small phone size */
@media only screen and (max-width: 600px) {
  body {
    background: #f5c828;
  }
  img#bird{
    display:none;
  }
  .col-med{
    width:100%;
  }
}
